body {
    background-color: mintcream;
}
.row {
    padding-bottom: 2%;
}

#article {
    margin-left: 10px;
    min-width: 40%;
}
.main-fig{
    float: inline-start;
    max-width: 55%;
    margin-left: 10px;
    margin-right: 10px;
}

.middle-text{
    margin-bottom: 20px;
}
#visualizations {
    position: relative;
    margin-top: 7%;
    margin-right:0;
    max-width: 40%;
    margin-bottom: 0px;

}
#plots {
    padding: 8px;
}

@media(min-width:1200px) {
    #visualizations {
        padding-left: 150px;
    }
}
@media (max-width:1200px) {
    #visualizations{
        position: relative;
        min-width: 100%;
        margin-top: 5%;
        margin-bottom: 0px;

    }

    #article{
        margin-bottom: 0px;
        padding-right: 0%;
    }

    .main-fig {
        max-width: 40%;
    }
}

@media (max-width:600px) {
    #visualizations{
        position: relative;
        margin-top: 5%;
        max-width: 100%;
        margin-bottom: 0px;

    }

    #article{
        margin-bottom: 0px;
    }
}

@media (max-width:200px) {
    #article{
        margin-bottom: 0px;
    }

    .main-fig {
        max-width: 30%;

    }
    #visualizations{
        position: relative;
        min-width: 100%;
        margin-top: 5%;
        
    }
}
