body {
    background-image: url("../background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

hr{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 2px;
}
#visualizations {
    position: relative;
    padding-top: 1%;
    padding-left: 50px;
    padding-right: px;
    padding-bottom: 0px;
    margin-right:30%;
    margin-left:30%;
    margin-bottom: 0px;
    max-width: 100%;
    opacity: 0.8;

}




@media(min-width:1200px) {
    #visualizations {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        margin-left: 0px;
        margin-top: 0%;
        margin-bottom: 0px;
    }
    
}
@media (max-width:1200px) {
    #visualizations {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0%;
        margin-bottom: 0px;
    }

}

@media (min-width:400px) {
    #visualizations{
        position: relative;
        max-width: 100%;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        
    }
} 


@media (min-width:360px) {
    #visualizations{
        position: relative;
        min-width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        
    }
}